.contents
  .side-bar
    .side-bar__header
      .side-bar__wrapper
        = current_user.name
        .side-bar__icon
          %span.icons
            =link_to new_group_path, class: "side-bar__header--icon" do
              = fa_icon "edit"
          %span.icons
            =link_to edit_user_path(current_user), class: "side-bar__header--icon" do
              = fa_icon "cog"

    .side-bar__group
      %div.group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            %div.one-block
              .name  
                = group.name
              .masseage  
                = group.show_last_message
      